/**********************************************************************\

Styles for Playfair page

\**********************************************************************/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.continuationList {
  margin-top: 0;
  margin-bottom: 0.5em;
  padding-top: 0.1em;
}

.noBottomMargin {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a.external {
  padding-right: 1.3em;
  background-position: 100% 45%;
  background-repeat: no-repeat;
}

a img {
  border-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 1.5em 3.0em;
  line-height: 166.7%;
  overflow: scroll;
}

code {
  font-family: "Roboto Mono", monospace;
  border: 0.1px solid;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

div#footer {
  display: table;
  line-height: 100%;
  width: 100%;
  padding: 0.6em 0;
}
div#footer > div {
  display: table-row;
}
div#footer > div > div {
  display: table-cell;
  font-size: 82%;
  white-space: nowrap;
}
div#footer > div > div.lastModified {
  font-style: italic;
}
div#footer > div > div.filler {
  width: 100%;
}
div#footer img {
  margin-bottom: -3px;
  margin-left: 0.4em;
}

div.header h1 {
  border: 1px solid;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

div#jsRequired {
  border: 1px solid;
  padding: 1.0em;
}

div#sectionNotes {
  margin-top: 1.5em;
  border-top: 3px solid;
  border-bottom: 3px solid;
  padding-bottom: 0.5em;
}

div#title {
  display: flex;
  align-items: center;
  padding: 1.5em;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
div#title > div {
  display: block;
  font-size: 160%;
  font-weight: bold;
  padding-right: 0.75em;
}

div#ui {
  padding: 1.0em 0;
}

h1 {
  font-size: 160%;
  text-align: center;
  margin-bottom: 0.5em;
}

h2 {
  font-weight: bold;
  font-size: 128%;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid;
}

h3 {
  font-weight: bold;
  font-size: 112%;
  margin-top: 1.0em;
  margin-bottom: 0.5em;
}

ol.notes > li {
  margin: 0.3em 0 0.3em -0.5em;
}

pre.example {
  display: table-cell;
  font-family: "Roboto Mono", monospace;
  border: 1px solid;
  padding: 0.5em 0.8em;
}

span.component {
  font-style: italic;
}

span.emphasised {
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  a {
    color: #0000A0;
  }

  a:hover {
    filter: brightness(2.0);
  }

  a.external {
    background-image: url("../images/externalLink-light.svg");
  }

  body {
    color: #000000;
    background-color: #F6F6F2;
  }

  code {
    color: #004060;
    background-color: #E8E8E8;
    border-color: #E0E0E0;
  }

  div.header {
    background-color: #F0F4E8;
  }
  div.header h1 {
    border-color: #C0D0C0;
  }

  div#jsRequired {
    background-color: #FEF4D0;
    border-color: #E8C080;
  }

  div#sectionNotes {
    border-top-color: #B4B8C8;
    border-bottom-color: #B4B8C8;
  }

  div#title {
    background-color: #E8ECF0;
    border-top-color: #D0D4D8;
    border-bottom-color: #D0D4D8;
  }
  div#title > div {
    color: #304868;
  }

  h1, h2, h3, h4, h5 {
    color: #304868;
  }

  h2 {
    border-bottom-color: #B4B8C8;
  }

  pre.example {
    background-color: #E0E8F8;
    border-color: #C8D0E0;
  }

  span.component {
    color: #006080;
  }

  span.keyword {
    color: #C03000;
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: #A0C0FC;
  }

  a:hover {
    filter: brightness(1.25);
  }

  a.external {
    background-image: url("../images/externalLink-dark.svg");
  }

  body {
    color: #F4F4F4;
    background-color: #202020;
  }

  code {
    color: #F0F0F0;
    background-color: #383838;
    border-color: #707070;
  }

  div.header {
    background-color: #F0F4E8;
  }
  div.header h1 {
    border-color: #C0D0C0;
  }

  div#jsRequired {
    background-color: #FEF4D0;
    border-color: #E8C080;
  }

  div#sectionNotes {
    border-top-color: #B4B8C8;
    border-bottom-color: #B4B8C8;
  }

  div#title {
    background-color: #303448;
    border-top-color: #606480;
    border-bottom-color: #606480;
  }
  div#title > div {
    color: #E0C8A8;
  }

  h1, h2, h3, h4, h5 {
    color: #E0C890;
  }

  h2 {
    border-bottom-color: #606888;
  }

  pre.example {
    background-color: #402820;
    border-color: #705C50;
  }

  span.component {
    color: #C090D0;
  }

  span.keyword {
    color: #D09078;
  }
}

/*--------------------------------------------------------------------*/
